<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2"><br> <br>
                <h3>Create a new listing</h3>

                <form method="POST" action="/listing" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label"> title</label>
                        <input name="listing[title]]" class="form-control" placeholder="enter title" required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">can you enter a title</div>

                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label"> Description</label>
                        <textarea name="listing[description]" class="form-control"
                            placeholder="enter description" required></textarea>
                        <div class="invalid-feedback"> write short discription </div>
                    </div>

                    <div class="mb-3">
                        <label for="Image Link" class="form-label"> Image URL</label>
                        <input name="listing[image]" class="form-control" placeholder="enter URL/link">
                        <div class="invalid-feedback">make sure you enter valid link</div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="Price" class="form-label"> Price</label>
                            <input name="listing[price]" class="form-control" placeholder="1100" required>
                            <div class="invalid-feedback">Price should valid</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label"> country</label>
                            <input type="text"    name="listing[country]" class="form-control" placeholder="India" required>
                            <div class="invalid-feedback"> country name should valid </div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="Location" class="form-label"> Location</label>
                        <input name="listing[location]" class="form-control" placeholder="Gorakhpur, utter-Pradesh"
                            required>
                        <div class="invalid-feedback">enter your valid location</div>
                    </div>

                    <br> <br>
                    <button class="btn add-btn">ADD</button><br><br>
                </form>
            </div>
        </div>
    </body>