body{
    font-family: "Montserrat", sans-serif !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass-drafting{
    color: #fe424d;
    font-size: 2rem;
}
.navbar-nav a{
    color: #222222 !important; 
}
/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline; 
}
.f-info-links , .f-info-social, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i{
    margin-right: 1rem;
     font-size: 1.3rem;
}
.f-info{
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 2rem !important;
    width: 100% !important;
    object-fit: cover !important;
    padding: 0;
}
.card-text p{
    font-weight: 400;
    font-size: 80px !important;
}
.listing-link{
    text-decoration: none;
}

/* overlay on card */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: #ebebeb;
}

/* new page  */
.add-btn{
    background-color: #fe424d !important;
}

/* showa page */
.show-img{
    height: 30%;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
}